# SMAPI
ConsoleCommands/
ErrorHandler/
SaveBackup/

# config
config.toml
config.json
!Stardew Valley Expanded/**/config.json

# cache
\[AFM\] FarmTypeManager/data
Stardew Valley Expanded/\[FTM\] Stardew Valley Expanded/data
Distant Lands - Witch Swamp Overhaul/\[FTM\] Distant Lands - Witch Swamp Overhaul/data

# temporary
_Temporary/

.DS_Store
._.DS_Store