# SMAPI
ConsoleCommands/
ErrorHandler/
SaveBackup/


# config
config.toml
config.json
!SkipFishingMinigameDotnet5/config.json
!DaLion/**/config.json
!MasteryExtended/**/config.json
!Stardew Valley Balance Overhaul/**/config.json
!Ridgeside Village/**/config.json
!Stardew Valley Expanded/**/config.json
!Informant/**/config.json

# cache
\[AFM\] FarmTypeManager/data
*_SaveData.save

# temporary
_Temporary/

.DS_Store